[submodule "forks/nnsight"]
	path = forks/nnsight
	url = https://github.com/ndif-team/nnsight
[submodule "wip/CausalAbstraction"]
	path = wip/CausalAbstraction
	url = https://github.com/atticusg/CausalAbstraction.git
[submodule "wip/nnsight-tutorials"]
	path = wip/nnsight-tutorials
	url = https://github.com/AmirZur/nnsight-tutorials.git
